@charset "UTF-8";

/*
  Developer: Sami Nachwati
  File: game_styling.css
  description: the styling of the game's webpage. 
*/


*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header img, footer img{
    width: 130px;
}

header{
    color: cyan;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 20px;
    align-items: center;
}

main, body#bd {
  background: #000034;
}

#svgContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

#options {
  display: grid;
  grid-template-columns: 5fr 5fr 5fr;
  justify-items: stretch;
  text-align: center;
  gap: 20px;
  margin: 20px;
}


#options input {
  padding: 2px 20px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid black;
  font-size: 25px;
}

#set_time {
  width: 30%;
}

#options span {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

#options .buttons 
{
  width: 60px;
}

#options div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px
}

#options h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#options h3 img{
  width: 60px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.text-headings, #options div{
  background-color: cyan;
  padding-bottom: 5px;
  padding-top: 5px;
}

#my-svg{
  background: cyan;
  margin-top: 2em;
}


footer{
  background: transparent;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  align-items: center;
  margin-top: 50px;
  color: cyan;
  border-top: 2px solid cyan;
}

footer p{
    border-bottom: 1px solid cyan;
}

main div#options div {
  word-wrap: break-word;
}


#wheel{
  fill: white;
  stroke: black;
  stroke-width: 10px;
}

#screen {
  stroke: black;
  stroke-width: 60px;
}

#body1 {
stroke: red;
stroke-width: 80px;
}

#sky{
  fill: grey;
}


#lightning {
  display: none;
}


.txt{
  font-size: 13px;
  font-family: monospace;
  fill: lightgreen;
}

.raindrops{
  fill: blue;
}

#play-again  {
  display: none;
  justify-content: center;
  align-items: end;  
}


@media (max-width:1260px){
  header{
    flex-flow: column wrap;
    text-align: center;
  }
  footer p{
    border-bottom: none;
  }
  #ready, #easy, #medium, #impossible, #set_time{
    font-size: 10px;
    display: flex;
  }
  #options{
    text-align: center;
  }
  #options{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-size: 10px;
  }
  #options h3 {
    display: grid;
    place-items: center;
  }
  audio{
    width: 50%;
  }
}
